body{
  text-align: center;
}
form {
    margin: 20px;
  }
  
  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select, input[type="number"], input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
  }
  
  select {
    width: 215px;
  }
  
  input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #3e8e41;
  }
  
  input[type="submit"]:focus, input[type="reset"]:focus {
    outline: none;
  }
  
  input[type="reset"] {
    margin-left: 10px;
  }
  
  form::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #send-query,#clear-output, #clear-input {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .send-query{
    background-color: #4CAF50;
  }
  .clear-output{
    background-color: #3186ee;

  }
  .clear-input{
    background-color: #3186ee;

  }

  /* on Mobile  */
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(225, 229, 230);

    }
    label {
      margin-top: 10px
    }
    select, input[type="number"], input[type="text"] {
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      width: 200px;
    }
    #send-query,#clear-output, #clear-input {
      padding: 4px;
      margin-top: 10px;
      font-size: 12px;
    }
  }